<br>
<div class="container text-center">
  <h1 class="display-3">How Long to Binge?</h1>
  <br>
  <form {{action "search" on="submit"}}>
    <div class="form-group">
      {{input id="search" class="form-control" type="text" placeholder="Search for a movie to get started..." value=search}}
    </div>
    {{#spin-button class="btn btn-primary btn-lg btn-block" buttonStyle="zoom-out" disabled=disableSearch action=(action "search")}}
      {{fa-icon "search"}}
    {{/spin-button}}
  </form>
  {{#if isSearching}}
    <br>
    <button class="btn btn-danger" {{action "closeSearch"}}>Close {{fa-icon "times"}}</button>
    <br><br>
    {{#if noResults}}
      <h3>No results ¯\_(ツ)_/¯</h3>
    {{else if filteredResults}}
      <ul class="list-group">
        {{#each filteredResults as |result|}}
          <a class="clickable" {{action "selectMovie" result}}>
            <li class="list-group-item select">
              <img src={{result.poster}} height="100" alt="Poster">
              {{result.title}} ({{result.year}})
            </li>
          </a>
        {{/each}}
      </ul>
    {{/if}}
  {{else if searchTimeout}}
    <br>
    <h3>Timed out waiting for a response 😟</h3>
  {{/if}}
  {{#if selectedMovies}}
    <br>
    <h1>Selected Movies</h1>
    <button class="btn btn-primary" {{action "changeRuntimeDisplay"}}>{{fa-icon "clock"}}</button>
    <button class="btn btn-danger" {{action "clearSelected"}}>{{fa-icon "times"}}</button>
    <br><br>
    <ul class="list-group">
      {{#each selectedMovies as |movie|}}
        <a class="clickable" {{action "deselectMovie" movie}}>
          <li class="list-group-item deselect">
            <b>{{movie.title}} ({{movie.year}})</b> - {{display-runtime movie.runtime runtimeDisplay}}
          </li>
        </a>
      {{/each}}
      <a class="clickable" {{action "changeRuntimeDisplay"}}>
        <li class="list-group-item">
          <b>Total:</b> {{display-runtime totalRuntime runtimeDisplay}}
        </li>
      </a>
    </ul>
  {{/if}}
</div>
